@charset "utf-8";

* {
  vertical-align: bottom;
}

body {
  margin: 0;
}

header {
  margin: 0;
  background: url(mainvisual.jpg);
  background-size: cover;
  background-position: center;
  height: 960px;
}

nav {
  margin: 0px 32px 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 32px 0;
  font-size: 14px;
  text-shadow: 0 0 4px #000;
}

h1 {
  color: #fff;
  text-align: center;
  line-height: 720px;
  font-size: 100px;
}

.top {
  height: 100px;
  background-position: center;
  background-attachment: fixed;
  /* スクロール時に背景を固定する */
}

.menulist{
  margin: 16px;
}

h2 {
  text-align: center;
  color: #fff;
  line-height: 100px;
  font-size: 32px;
}

.menutop {
  background: url(menu.jpg);
}

h3 {
  text-align: center;
  font-size: 20px;
  border-bottom: 4px solid red;
  margin: 32px auto 0;
  padding: 0 0 8px;
}

dl {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

dt {
  flex: 1;
  border-bottom: 1px dotted #000;
}

.abouttop{
  background: url(about.jpg);
}

.abouttext{
  margin: 16px;
}

.readmore{
  text-align: center;
  margin: 64px auto;
}

.readmore a{
  border: 2px solid red;
  padding: 8px 32px;
  text-decoration: none;
  color: unset;
}

.locationtop{
  background: url(location.jpg);
}

.ourstore{
  margin: 16px;
}

.map{
  text-align: center;
}

.map iframe{
  width: calc(100% - 32px);
  max-width: 1000px;
  height: 400px;
  -webkit-filter: grayscale(100%);
}

footer{
  margin: 16px;
}

footer ul{
  list-style: none;
  margin: 0 0 128px;
  padding: 0;
}

footer li{
  font-size: 14px;
}

footer li:nth-of-type(even){
  margin: 0 0 16px;
}

footer div{
  text-align: center;
}

small{
  font-size: 10px;
}

@media(width>=800px){

}

.top{
  height: 300px;
}

h2{
  font-size: 72px;
  line-height: 300px;
}

h3{
  font-size: 40px;
  margin: 0 0 64px;
}

.menulist{
  display: flex;
  margin: 80px 16px 0;
}

.coffee,
.food{
  flex: 1;
  padding: 0 48px;
}

.food{
  border-left: #000 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

